<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='reg.css') }}">
    <!-- <link rel="stylesheet" href="../static/reg.css"> -->
    <!-- <script src="regestration.js" defer></script> -->
     <script src="{{ url_for('static', filename='registration.js') }}" defer></script>
    <title>Registration</title>
</head>
<body>
    <form class="registration-container" method="post">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash {{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <h2>Registration</h2>
        <input type="text" name="name" placeholder="Full Name" required />
        <input type="email" name="email" placeholder="Email" required />
        <input type="text" name="username" placeholder="Username" required >
        <input type="password" name="password" placeholder="Password" required >
        <input type="password" name="confirm_password" placeholder="Confirm Password" required>
        {% if error%}
        <p id="error" style="color:red;">{{error}}</p>
        {%endif%}
        <div class="button">
            <button type = "submit">Confirm</button>
        </div>
    </form>
</body>
</html>